<div id="container-fluid">
	<div id="profile_image">
		<%= image_tag "profileimage.jpg" %>
		<p><%= link_to "Home", root_path%>		
	</div>
	<div id="content">
	<h5> My name is theoderic Ohinoyi onipe, This is the blog I created, Enjoy it, modify it anyhow you like</h5>
	<p>
		Franzen distillery sartorial austin waistcoat la croix ramps butcher fanny pack migas craft beer pinterest tote bag brunch. Marfa pickled brunch waistcoat flannel flexitarian heirloom cronut meh 90's small batch snackwave poutine pop-up lyft. Everyday carry banh mi godard, normcore fingerstache venmo gochujang enamel pin edison bulb cronut hot chicken cornhole. Ennui keffiyeh venmo deep v wayfarers messenger bag. Meh celiac four dollar toast hammock succulents actually 8-bit food truck microdosing migas. Tumeric cardigan kitsch af
	</p>
	
	</div>
</div>